:root {
    --yb-background-color: #f4955c;
    --yb-font-color: #313131;
    --yb-font-color-grey: #878787;
    --yb-font-color-tag: #133467;
    --yb-font-color-title: #fff;
    --yb-body-color: #fff;

    --width-max: 1000px;
    --width-mat: 800px;
    --width-mit: 500px;
    --width-min: 350px;
}

.a_body {
    position: relative;
    margin: 100px auto;
    width: var(--width-max);
}

.scroll {
    position: fixed;
    width: 50px;
    bottom: 150px;
    right: 100px;
}

.title {
    height: 250px;
}

@media screen and (max-width: 1300px){
    .a_body {
        width: var(--width-mat);
    }
    .scroll {
        right: 50px;
    }
}

@media screen and (max-width: 1050px){
    .a_body {
        width: var(--width-mit);
    }
    .scroll {
        right: 30px;
    }
}

@media screen and (max-width: 650px){
    .scroll {
        right: 0px;
    }
}

@media screen and (max-width: 500px){
    .a_body {
        width: var(--width-min);
    }
    .title {
        height: 140px;
    }
}

#top {
    color: var(--yb-background-color);
}

#top:hover {
    cursor: pointer;
}

.a_title {
    text-align: center;
}

.a_ticket {
    margin: 25px auto;
    text-align: center;
    font-size: 0.875rem;
}

.a_ticket a {
    text-decoration: none;
    color: var(--yb-font-color-tag);
}

.a_content {
    font-size: 1rem;
    font-family: 'PingFang SC','Helvetica Neue','Microsoft YaHei New','STHeiti Light',sans-serif;
}

.a_content p {
    text-indent: 2em;
    margin-bottom: 10px;
    line-height: 200%;
}

.a_content strong {
    text-indent: 2em;
    margin-bottom: 10px;
    line-height: 200%;
}

.scrollTop {
    position: fixed;
    top: 0;
    width: 1%;
    height: 3px;
    background-color: var(--yb-font-color);
    z-index: 5;
}