:root {
    --width-max: 1000px;
    --width-mat: 800px;
    --width-mit: 500px;
    --width-min: 350px;
}
@media screen and (max-width: 1300px) {
    .header {
        height: 60px;
    }
    .h-wrapper,
    .search_content,
    .article,
    #waline{
        width: var(--width-mat);
    }
    .article_block {
        width: 360px;
        height: 270px;
    }
}

@media screen and (max-width: 850px) {
    .header {
        height: 40px;
    }
    .title {
        top: 40px;
        height: 300px;
    }
    .profile {
        top: -40px;
    }
    .blank {
        height: 160px;
    }
    .nav ul {
        visibility: hidden;
    }
    .h-wrapper,
    .search_content,
    .article,
    #waline {
        width: var(--width-mit);
    }
    .article_block {
        width: 480px;
        height: 360px;
    }
}

@media screen and (max-width: 500px) {
    .h-wrapper,
    .search_content,
    .article,
    #waline {
        width: var(--width-min);
    }
    .search_wrapper {
        width: 300px;
    }
    .title {
        height: 150px;
    }
    .title h4,h3 {
        text-align: right;
        margin-right: 5px;
    }
    .profile {
        float: left;
        width: 150px;
        height: 150px;
        top: 0px;
    }
    .blank {
        height: 20px;
    }
    .article_block {
        width: var(--width-min);
        height: 262.5px;
    }
}

@media screen and (min-width: 1300px) {
    .header {
        height: 60px;
    }
    .h-wrapper,
    .search_content,
    .article,
    #waline{
        width: var(--width-max);
    }
    .article_block {
        width: 280px;
        height: 210px;
    }
}