:root {
    --yb-background-color: #f4955c;
    --yb-font-color: #313131;
    --yb-font-color-grey: #878787;
    --yb-font-color-tag: #133467;
    --yb-font-color-title: #fff;
    --yb-body-color: #fff;
    --yb-block-color: #fff;
    --yb-shadwo-color: #555555;
}