* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--yb-body-color);
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: var(--yb-background-color);
    text-align: center;
    vertical-align: middle;
    z-index: 3;
}

.h-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

.nav {
    display: flex;
    width: 60%;
}

.nav ul {
    display: flex;
    list-style: none;
    width: auto;
}

.nav ul li {
    display: inline-block;
    align-items: center;
    width: 70px;
    height: 30px;
    /* 这里要设置为内边框，不然会影响到水平居中 */
    box-sizing: border-box;
    transition: border-bottom 0.05s linear 0s;
    border-bottom: 0px solid var(--yb-font-color);
}

.nav ul li:hover {
    border-bottom: 2px solid var(--yb-font-color);
}

.nav ul li a {
    text-decoration: none;
    color: var(--yb-font-color);
    font-weight: bolder;
    line-height: 30px;
}

.h-name {
    margin-right: 30px;
}

.h-name a {
    vertical-align: bottom;
    color: var(--yb-font-color);
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

/* 在主轴已设置justify-content后可以使用这个方法单独设置一个元素的排列方式 */
.nav-tail {
    height: 28px;
    margin-left: auto;
    margin-right: 30px;
    vertical-align: middle;
    /* padding: 0 5px;
    border-radius: 8px;
    border: 2px solid #313131;
    background-color: #f4955c; */
}

.change_color {
    color: var(--yb-font-color);
    margin-right: 10px;
}

.change_color:hover {
    cursor: pointer;
}

.search_a {
    color: var(--yb-font-color);
}

.search_a:hover {
    cursor: pointer;
}

.search_mask {
    display: none;
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    background-color: var(--yb-body-color);
    z-index: 6;
}

.search_content {
    margin: 0 auto;
}

.search_wrapper {
    margin: 200px auto 20px;
    padding: 8px 5px 8px 10px;
    width: 400px;
    height: 40px;
    border: 2px solid var(--yb-font-color-grey);
    border-radius: 10px;
    color: var(--yb-font-color-grey);
}

.search_wrapper input {
    background-color: var(--yb-body-color);
}

.search_wrapper:focus-within {
    border: 2px solid #2d87f1;
}

.search_close {
    cursor: pointer;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 7;
    color: var(--yb-font-color-grey);
}

.search_bar {
    margin-left: 10px;
    outline: none;
    height: 24px;
    border: 0 solid;
    font-size: 1rem;
}

.search_result {
    margin: 0 auto 200px;
}

.search_result li {
    list-style-type: none;
    text-align: left;
}

.search_result_block {
    display: block;
    color: var(--yb-font-color);
    text-decoration: none;
}

.search_result_block :nth-child(1){
    font-size: 1.5rem;
    margin-bottom: 3px;
}

.search_result_block :nth-child(2){
    font-size: 0.75rem;
}
.search_result_block :nth-child(3) {
    font-size: 0.875rem;
    float: right;
}

/* 为了解决输入框输入中文后行高变化而导致高度变化 */
/* .search_a {
    display: inline-block;
    height: 28px;
    vertical-align: bottom;
} */

.profile {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0;
    background-image: url(../images/icon11.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

.blank {
    height: 200px;
}

.title {
    position: relative;
    top: 60px;
    height: 450px;
    width: 100%;
    margin: 0px auto 60px;
    text-align: center;
    background-image: url(../images/title_black.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--yb-background-color);
    color: var(--yb-font-color-title);
}

.title h3,
h4 {
    position: relative;
    z-index: 2;
}

.title h3,
h4:hover {
    cursor: default;
}

.title h4 {
    margin-top: 15px;
}

.article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.article_block {
    position: relative;
    overflow: hidden;
    margin: 40px 20px;
    top: 0;
    background-color: var(--yb-block-color);
    border-radius: 10px;
    box-shadow: 0 3px 3px 1px var(--yb-shadow-color);
    transition: all .25s;
}

.article_block:hover {
    top: -2px;
    box-shadow: 0 3px 8px 8px var(--yb-shadow-color);
}

.hidden_block {
    display: none;
}

.brief_img {
    display: block;
    width: 100%;
    height: 60%;
}

.brief_img img {
    width: 100%;
    height: 100%;
}

.brief {
    width: 100%;
    height: 34%;
    margin: 3% 10px;
}

.tag {
    display: block;
    height: 20%;
    font-size: 0.75rem;
    color: var(--yb-font-color-tag);
    text-decoration: none;
}

.brief_title {
    display: block;
    height: 50%;
    font-size: 1rem;
    color: var(--yb-font-color);
    text-decoration: none;
}

.brief_time {
    height: 20%;
    font-size: 0.675rem;
    vertical-align: middle;
    color: var(--yb-font-color-grey);
}

/* .brief_time::before {
    content: "<i class="fa fa-calendar-check-o"></i>";
    伪元素不能改变dom，所以这种生成标签的方式是行不通的
} */

.footer {
    background-color: var(--yb-background-color);
    color: var(--yb-font-color);
    height: 40px;
    text-align: center;
    padding: 50px;
}

.footer a {
    text-decoration: none;
    color: var(--yb-font-color);
}

.footer a:hover {
    color: antiquewhite;
}

#date {
    font-size: large;
    font-weight: bolder;
}

.more {
    margin: 0 auto 20px;
    width: 100px;
    height: 24px;
    text-align: center;
    border: 5px solid var(--yb-background-color);
    background-color: var(--yb-background-color);
    color: var(--yb-font-color);
}

.more:hover {
    cursor: pointer;
    background-color: var(--yb-body-color);
}

.nomore {
    margin: 0 auto 20px;
    width: 100px;
    height: 24px;
    text-align: center;
    color: var(--yb-font-color-grey);
}

#waline {
    margin: 0 auto;
}